<div class="box-title">Manager Roles</div>
<hr>
<div class="list-post">
    <div class="panel panel-default">
        <div class="panel-heading">
            <ul class="nav nav-tabs">
                <li class="active">
                    <a href="" data-toggle="tab" ng-click="option='add_role'">
                        Add Role
                    </a>
                </li>
                <li>
                    <a href="" data-toggle="tab" ng-click="option='manager_role'">
                        Manager Role
                    </a>
                </li>
            </ul>

        </div>
        <div class="panel-body">
            <div class="tab-content" ng-init="option='add_role'">
                <div class="tab-pane" id="add_role" ng-class="{'active':option=='add_role'}">
                    <form>
                        <div class="row form-group">
                            <div class="add-role-title col-sm-3 col-xs-6 text-left">Type</div>
                            <div class="add-role-content col-sm-9 col-xs-12 pull-right">
                                <input class="form-control">
                            </div>
                        </div>
                    </form>
                </div>
                <!--<div class="tab-pane" id="manager_role" ng-class="{'active':option=='manager_role'}">-->
                <div id="manager_role" ng-if="option=='manager_role'">
                    <div class="table-responsive">
                        <table datatable="" dt-options="dtOptions" dt-column-defs="dtColumnDefs" class="table table-striped table-bordered table-hover dataTable no-footer"
                               id="manager_role_list" aria-describedby="manager_role_table">
                            <thead>
                            <tr role="row" class="text-center">
                                <th class="col-lg-1" rowspan="1" colspan="1" aria-label="Game Name: activate to sort column ascending" >
                                    No.
                                </th>
                                <th class="col-lg-5" rowspan="1" colspan="1" aria-label="Platform(s): activate to sort column ascending">
                                    E-mail
                                </th>
                                <th class="col-lg-3" rowspan="1" colspan="1" aria-label="Engine version: activate to sort column ascending">
                                    Role
                                </th>
                                <th class="col-lg-3" rowspan="1" colspan="1" aria-label="Game Status: activate to sort column ascending">
                                    Status
                                </th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr class="gradeX odd" ng-repeat="game in listGames">
                                <td class="platform text-center">{{$index}}</td>
                                <td class="icon-game sorting_1 name">
                                    <a href="/games/detail?id={{game.id}}">
                                        <strong>{{game.name}}</strong>
                                    </a>
                                </td>
                                <td class="text-center status">Member</td>
                                <td class=" ">
                                    <div class="btn-group container-fluid">
                                        <div type="button" class="btn btn-default btn-xs dropdown-toggle"
                                             data-toggle="dropdown">
                                            <div class="text-left" style="width: 100px">
                                                <div class="status-current pull-left" style="width: 90px">
                                                    <i class="fa fa-bars fa-fw"></i> {{game.status}}
                                                </div>
                                                <div class="dropdown-icon-bar pull-left" style="width: 5px">
                                                    <span class="caret"></span>
                                                </div>
                                            </div>
                                        </div>
                                        <ul class="dropdown-menu pull-right" role="menu">
                                            <li class="status">
                                                <a href="#">
                                                    <div class="pull-left" style="width: 25px">
                                                        <i class="fa fa-thumbs-o-up"></i>
                                                    </div>
                                                    Active
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <div class="pull-left" style="width: 25px">
                                                        <i class="fa fa-thumbs-o-down"></i>
                                                    </div>
                                                    Reject
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <div class="pull-left" style="width: 25px">
                                                        <i class="fa fa-pencil-square-o"></i>
                                                    </div>
                                                    Pending
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <div class="pull-left" style="width: 25px">
                                                        <i class="fa fa-unlock-alt"></i>
                                                    </div>
                                                    Banned
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <div class="pull-left" style="width: 25px">
                                                        <i class="fa fa-trash-o"></i>
                                                    </div>
                                                    Block
                                                </a>
                                            </li>
                                            <!--<li class="status">
                                                <a href="#">
                                                    <i class="fa fa-user"></i> Member
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <i class="fa fa-users"></i> Leader
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <i class="fa fa-book"></i> Manager
                                                </a>
                                            </li>
                                            <li class="status">
                                                <a href="#">
                                                    <i class="fa fa-gavel"></i> Founder
                                                </a>
                                            </li>-->
                                        </ul>
                                    </div>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>