<div class="main-menu-box col-ss-12 col-xs-5 col-sm-3 col-md-2 col-lg-2">
    <div class="box-title col-sm-0-max">Menu <hr></div>

    <div class="sidebar-nav navbar-collapse full-size none-space">
        <ul class="nav" id="side-menu">


            <li class="m-dashboard">
                <a href="/home"><i class="fa fa-home fa-fw"></i> Home</a>
            </li>

            <!-- Catalogues-->
            <li class="m-document">
                <a href="/profile"><i class="fa fa-bars fa-fw"></i> News</a>
            </li>
            <li class="m-document">
                <a href="/home"><i class="fa fa-comments-o fa-fw"></i> Blog</a>
            </li>
            <li class="m-document">
                <a href="/home"><i class="fa fa-camera-retro fa-fw"></i> Photo News</a>
            </li>
            <li class="m-document">
                <a href="/home"><i class="fa fa-code fa-fw"></i> Tutorial</a>
            </li>
        </ul>
    </div>
</div>