<div class="main-menu-box col-ss-12 col-xs-5 col-sm-3 col-md-2 col-lg-2">
    <div class="box-title col-sm-0-max">Menu <hr></div>

    <div class="sidebar-nav navbar-collapse full-size none-space">
        <ul class="nav" id="side-menu">


            <li class="m-dashboard">
                <a class="active" href="/home"><i class="fa fa-home fa-fw"></i> Home</a>
            </li>

            <li class="m-dashboard">
                <a href="/view"><i class="fa fa-dashboard fa-fw"></i> Detail</a>
            </li>
            <li class="m-games">
                <a href="/write"><i class="fa fa-gamepad fa-fw"></i> New Post</a>
            </li>
            <li class="m-profile">
                <a href="/profile"><i class="fa fa-cubes fa-fw"></i> Profile</a>
            </li>
            <li class="m-reports">
                <a href="/registry"><i class="fa fa-bar-chart-o fa-fw"></i> Registry</a>
            </li>
            <li class="m-support">
                <a href="/support"><i class="fa fa-support fa-fw"></i> Support</a>
            </li>
            <li class="m-document">
                <a href="/manager/posts"><i class="fa fa-clipboard fa-fw"></i> Manage Posts</a>
            </li>
            <li class="m-document">
                <a href="/manager/users"><i class="fa fa-users fa-fw"></i> Manager Users</a>
            </li>
            <li class="m-document">
                <a href="/manager/roles"><i class="fa fa-users fa-fw"></i> Manager Role</a>
            </li>
        </ul>
    </div>
</div>