<div class="box-title">Manager Posts</div>
<hr>
<div class="list-post">
    <div class="post container-fluid none-space">
        <div class="post-avatar col-lg-5 col-md-12 col-sm-5 none-space">
            <div class="avatar col-lg-12 none-space">
                <img src="http://dantri4.vcmedia.vn/y0V2Vnsx49nhQPv7HdH/Image/2013/07/tlinh16071311-d66d5.jpg">
            </div>
        </div>
        <div class="post-description col-lg-7 col-md-12 col-sm-7">
            <div class="post-title">
                <p>10 creative recipes to reinvent your Thanksgiving leftovers
                    10 creative recipes to reinvent your Thanksgiving leftovers
                    10 creative recipes to reinvent your Thanksgiving leftovers
                    10 creative recipes to reinvent your Thanksgiving leftovers</p>
            </div>
            <div class="post-info">
                <p>29-11-2014 15:04</p>
            </div>
            <div class="manager-actions">
                <div class="manager-actions-box pull-right">
                    <div class="pull-left">
                        <button class="btn btn-success" title="publish">
                            <i class="fa fa-thumbs-up"></i>
                        </button>
                    </div>
                    <div class="pull-left">
                        <button class="btn btn-info" title="Reject">
                            <i class="fa fa-thumbs-down"></i>
                        </button>
                    </div>
                    <div class="pull-left">
                        <button class="btn btn-primary" title="Edit">
                            <i class="fa fa-file-o"></i>
                        </button>
                    </div>
                    <div class="pull-left">
                        <button class="btn btn-danger" title="Delete">
                            <i class="fa fa-trash-o"></i>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>